body {
  font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 54px;
  color: #868e96;
  background-color: #dedede;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 9rem;
    color: #868e96;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
}

.social-icons a {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: #495057;
  color: #fff !important;
  /*border-radius: 100%;*/
  text-align: center;
  font-size: 1.3rem;
  /* line-height: 1rem; */
  /* margin-right: 1rem; */
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #54B689;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #54B689;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  section.resume-section.p-lg-5 {
    margin-left: 33px !important;
  }

  .no-top-padding {
    padding-top: 0px !important;
  }

  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 10rem;
    height: 100vh;
  }

  #sideNav .navbar-brand {
    display: -webkit-box;
    display: flex;
    margin: 0 auto;
    padding: 0.5rem;
  }

  #sideNav .navbar-brand .img-profile {
    max-width: 7rem;
    max-height: 7rem;
    border: 0.2rem solid rgba(255, 255, 255, 0.2);
  }

  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
            flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }

  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 100%;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }

  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

section.resume-section-first {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  background-color: #fff;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }

  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

.bg-primary {
  background-color: #fff !important;
}

.navbar-nav a {
  color: #666 !important;
}

a.navbar-brand {
  color: #54B689 !important;
  font-weight: 500;
  font-family: Pollins, "Helvetica Neue", Arial;
}

.resume-title {
  color: #54B689 !important;
  font-weight: 500;
  font-family: Pollins, "Helvetica Neue", Arial;
}

.navbar-toggler .navbar-toggler-icon {
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><path stroke='rgba(0,0,0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.text-primary {
  color: #54B689 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #666;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.navbar-dark .navbar-nav .nav-link:hover:before {
  color: #000;
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid #54B689;
}

.green {
  color: #54B689;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #000;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #000;
}

a {
  color: #666;
}

a:active, a:focus, a:hover {
  color: #0cb768;
}

.span4 img {
  margin-right: 10px;
}

.span4 .img-left {
  float: left;
}

.span4 .img-right {
  float: right;
}

.orange {
  color: #0cb768;
}

.no-padding {
  padding: 0 !important;
}